
html,
body {
  margin: 0;
}

.background{
  background-color: #f2f2f2;
  width: 100vw;
  height: 100vh;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 970px;
  margin: auto;
}

.logo{
  padding-top: 140px;
}

.estamos-chegando{
  color: #4e4e4e;
  font-family: "Clarika Geometric";
  font-size: 32px;
  line-height: 42px;
  max-width: 440px;
  text-align: center;
}

.links-pawts{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.botao-link{
  position: relative;
}

.botao-link a{
  display: block;
  width: 410px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
  text-decoration: none;
  background-color: #ffffff;
  color: #4e4e4e;
  font-family: "Clarika Geometric";
  font-weight: 400;
}

.botao-link img{
  position: absolute;
  top: -50px;
  left: -50px;
}





