@import url(//db.onlinewebfonts.com/c/87ac07a4a6ff7e0603908b6a1354e998?family=Clarika+Geometric+Medium);

@font-face {font-family: "Clarika Geometric"; 
            src: url("//db.onlinewebfonts.com/t/87ac07a4a6ff7e0603908b6a1354e998.ttf") format("truetype")}

html,
body {
  margin: 0;
}

body{
  background-color: #f2f2f2;
  width: 100vw;
  height: 100vh;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 970px;
  margin: auto;
}

.logo{
  padding-top: 140px;
}

.estamos-chegando{
  color: #4e4e4e;
  font-family: "Clarika Geometric";
  font-size: 32px;
  line-height: 42px;
  max-width: 440px;
  text-align: center;
}

.links-pawts{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.botao-link{
  position: relative;
}

.botao-link a{
  display: block;
  width: 410px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
  text-decoration: none;
  background-color: #ffffff;
  color: #4e4e4e;
  font-family: "Clarika Geometric";
  font-weight: 400;
}

.botao-link img{
  position: absolute;
  top: -40px;
  left: -40px;
}

.dog-wrapper{
  position: relative;
}

.img-dog{
  max-width: 100%;
  margin-bottom: 15px
}

.faixa-footer{
  background-color: #ffb59d;
  height: 20px;
  position: absolute;
  width: 100vw;
  transform: translateX(calc((37em - 100vw)/2));
  margin-top: -20px;
}

@media screen and (max-width: 1200px) {
  .logo{
    padding-top: 5%;
  }
}

@media screen and (max-width: 900px) {

  .content{
    width: 100%;
    display: flex;
  }

  .logo{
    display: flex;
    width: 100%;
  }

  .logo img{
    max-width: 90%;
    margin: auto;
  }

  .links-pawts{
    flex-direction: column;
    align-items: center;
  }

  .botao-link{
    margin-bottom: 30px;
    width: 90%;
  }

  .botao-link img{
    position: absolute;
    top: -15px;
    left: -10px;
    width: 50px;
  }

  .botao-link a{
    width: 100%;
    height: 70px;
    line-height: 70px;
  }
  .estamos-chegando{
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .faixa-footer{
    transform: none;
    margin-top: -20px;
  }
}




